body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 93%);
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Aplica espaçamento entre os itens da lista */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 15px
 }

nav ul li a {
    color: white;
    text-decoration: none;
}
 
